@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700);

.appImg {
  width: 25%;
  height: 25%;
}

body {
  background-color: darkgray;

}

nav {
  background-color: black;
}

.description {
  font-size: 1.25em;
  color: white;
  font-family: 'Amatic SC', cursive;
}


.navbar a {
  color: white;
}

.navbar a:hover {
  text-decoration: none;
  color: lightgreen;
}

.img {
  margin-bottom:20px;
  padding:10px; 
  text-align:center;
  box-sizing:border-box;
}

img {
  max-height:100%;
  max-width:100%;
  cursor:pointer;
}

.container-fixed {
  width:90%;
  margin-left:5%;
  text-align:center;
}

.playing {
  border:5px solid lightgreen;
}

.img-circle {
  border-radius: 50%;
}

footer {
  background-color: black;
}

@media only screen and (min-width: 992px) {
  body {
    background-image: url("img/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding:10px;
    color: white;
  }

  .description {
    font-size: 2em;
    font-family: 'Amatic SC', cursive;
  }

  .navbar a {
    color: white;
    font-size: 2em;
  }


}