@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700);

p {
  font-style: Amatic
}

body {
  padding:10px;
}

nav {
  background-color: black;
}

.img {
  margin-bottom:20px;
  padding:10px; 
  text-align:center;
  box-sizing:border-box;
}

img {
  max-height:100%;
  max-width:100%;
  cursor:pointer;
}
.container-fixed {
  width:90%;
  margin-left:5%;
  text-align:center;
  font-style: "Amatic"
}

.playing {
  border:5px solid lightgreen;
}

.img-circle {
  border-radius: 50%;
}